/* Basic styling for the navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5vmax 3vmax;
  background-color: #003f80;
  color: #fff;
  font-family:Arial, Helvetica, sans-serif;
}

.nav-mid{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5vmax 3vmax;
  color: #fff;
  width: 100%;
}

.navbar-brand {
  font-size: 1.5em;
  font-weight: 600;
}
.navbar-brand a{
  text-decoration: none;
  color: white;
  letter-spacing: 1px;
}

.cart-container {
  position: relative;
   
}
.cart-container a{
  text-decoration: none;
  color: white;

}

.ri-shopping-cart-line {
  font-size: 1.5em;
  cursor: pointer;
}

.cart-count {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 0.9px 6px;
  font-size: 0.8em;
}


